/*Restyling for dark theme*/
/*
Background: 212121
Content: 323232
Content-Primary: 0AAE59 = RGB(10, 174, 89)
Hover-state-primary: (34, 194, 109) = #1ec26d
Content-Secondary: 14ffec
text: ffffff
*/
body {
  background-color: #212121;
}

.bg-dark {
  background-color: #323232;
}

.bg-primary {
  background-color: #0AAE59;
}

.bg-secondary {
  background-color: #14ffec;
}

.btn-primary {
  background-color: #0AAE59;
  border-color: #0AAE59;
}

.btn-primary:hover {
  background-color: #1ec26d;
  border-color: #1ec26d;
}

.btn-secondary {
  background-color: #14ffec;
}
